<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test suite">
	<listeners>
        <listener class-name="org.testng.reporters.EmailableReporter" />
    </listeners>
  	<test verbose="2" name="user details test">
    	<classes>
      		<class name="ch9.UserDetailsServiceTest"/>
    	</classes>
  	</test> 
</suite>